* {
  top: 0;
  left: 0;
  box-sizing: border-box;
} */
 .wrapper {
  padding: 10px !important;
  background: #000 !important;
  height: 100vh;
}


.navbar {  
  background-color: black;
}

.nav-link {
  color: #982d2d !important;
}
.nav-link :hover {
  color: #7c2f2f !important;
  text-decoration: underline;
}
.footer-color,
body { 
  background-color: rgb(168, 169, 166);

}

img {
  width: 15%;
}
.ff {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
  text-align: center;
}
