h1{
    font-family: 'Bebas Neue', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Lugrasimo', cursive;
font-family: 'Lumanosimo', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
}

h2{
    font-family: 'Dancing Script', cursive;
    font-family: 'Lumanosimo', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Tektur', cursive;
}
p{
    font-family: 'Dancing Script', cursive;
font-family: 'Lumanosimo', cursive;
font-family: 'Pacifico', cursive;
}
