body {
  background: #2a58d8;
  }
  * {
  /* margin: 100;
  padding: 100; */
  font-family: "Rubik", sans-serif;
  }

  .app {
  
  height: auto;
  margin-top: 45px;
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction:column;
  color: #ffffff;
  }

  .todo-list {
  
  margin-top: 22px;
  height: 50px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  }

  li {
    
  list-style: none;
  overflow-wrap:normal;
  height: auto;
  width: 50px;
  }

  button {
  padding: 0 8px;
  margin: 0 6px;
  border-radius: 10px;
  color: #27d432;
  background-color: #e3ec34;
  }