
.mik{
display: flex;
justify-content: center;
background-color: aquamarine;
}

label{
  font-weight: bold;
  display: flex;
  margin-bottom:20px;
}

input[type='text'],
input[type='email']{
  display:block;
  width:400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  color: gray;
  background-color: white;
  border: 1px solid#ccc;
  border-radius:5px;

}
button{
 border-radius: 5px;
 cursor:pointer;
}
.form-control{
  margin-bottom: 20px;

}
.err{
  color:red;
}
